FORMAT: 1A
HOST: https://api.skladon.cz/v1/

# skladon

```
Skadon API
Production API url: https://api.skladon.cz/v1/
Test API url: https://test-api.skladon.cz/v1/
```

## Create Order Collection [/order/create-order]
### Create Order [POST]
###### status code 200: order successfully created
###### status code 401: order already exists
###### status code 402: number of products is less then you need or you don't have any of them stored
###### Order is validated. 

###### Object properties: 
- orderId: 255 (number, required) - The unique identifier for the order
- addressId: 175 (number, optional) - address ID of Zasilkovna pickup point
- message: "Extra stickers ..." (string, required) - Order message for stock-keeper or just left empty string
- shipTo: {} (object, required)
    - recipient: {} (object, required)
        - fullName: Miloš Halecký (string, required) - Person name and surname
        - attentionName: Miloš Halecký (string, required) - Person Attention name and surname
        - address: {} (object, required)
            - street: Chemická 955/3 (string, required) - Street
            - additionalInformation: second floor (string, optional) - Additional information or empty string
            - additionalInformation2: apt. 551 (string, optional) - Additional information 2 or empty string
        - city: Prague (string, required) - City name
        - countryCode: CZ (string, required) - country code
        - provinceCode: CZ (string, required) - province code
        - postCode: 14800 (string, required) - postal code 
        - email: milos.halecky@gmail.com (string, required) - email address
        - companyName: "Company name" (string, required) - company name or empty string
        - companyId: "12345678" (string, required) - company id or empty string
        - taxId: "12345678" (string, required) - company tax id or empty string
        - phone: "00420123123123" (string, required) - phone number in 14 digits format
    - billing: {} (object, required)
        - fullName: Miloš Halecký (string, required) - Person name and surname
        - attentionName: Miloš Halecký (string, required) - Person Attention name and surname
        - street: Chemická 955/3 (string, required) - 
        - streetAdditionalInformation: second floor (string, optional) - Additional information or empty string
        - streetAdditionalInformation2: apt. 551 (string, optional) - Additional information 2 or empty string
        - city: Prague (string, required) - City name
        - countryCode: CZ (string, required) - country code
        - provinceCode: CZ (string, required) - province code
        - postCode: 14800 (string, required) - postal code 
        - email: milos.halecky@gmail.com (string, required) - email address
        - companyName: "Company name" (string, required) - company name or empty string
        - companyId: "12345678" (string, required) - company id or empty string
        - taxId: "12345678" (string, required) - company tax id or empty string
        - phone: "00420123123123" (string, required) - phone number in 14 digits format
- invoice: {} (object, optional)
    - invoiceNumber: 40002017 (string, required) - invoice number
    - invoiceDate: 20171231 (string, required) - invoice date format: YYYYMMDD
    - format: pdf (string, required) - invoice format or empty string
    - encoding: base64 (string, required) - invoice data encoding or empty string
    - data: JVBERi0xLjUNJabpz8QgDTkzNCAwIG9iag08PC9... (string, required) - invoice data or empty string

- discount: {} (object, required) - if skladon should provide discount, it has to be discussed otherwise set 0 to value
    - type: PER (string, required) - type of discount, PERCENTAGE = percentage, PRICE = discount in price
    - value: 0 (integer, required) - value of discount

- paid: 1 (integer, required) - 1 = paid, 0 = cash on delivery

- price: {} (object, required)
    - invoicePrice: {} (object, required)
        - value: 1100 (integer, required) - ivoice price value
        - currency: CZK (string, required) - invoice price currency 
    - shippingPrice: {} (object, required)
        - value: 100.00 (number, required) -  shipping price
        - currency: CZK (string, required) - shipping price currency 
    - cashOnDelivery: {} (object, optional) - COD Cash On Delivery
        - value: 1100 (number, required) -  COD price, Cash On Delivery order price
        - currency: CZK (string, required) - COD price currency 
        - refNumber: variabilny symbol (string, required) - reference number for bank

- shippingMethod: DEL (string, required) -  shipping method: DEL = Delivery, PER = Personally. Available = DEL, PER

- shipper: {} (object, required)
    - name: UPS (string, required) - shipper name according table. Available = UPS, CP, GLS, Zasilkovna
    - serviceCode: UPSES (string, required) - shipper service code according table. Available = UPSES, CPDR, CPDRCOD, CPNP, CPNPCOD, RRCZ, RRCZCOD, RREU, RRWR, GLSCZ, GLSCZCOD, GLSEU, GLSEUCOD, TGCZ, TGCZCOD, TGEU, TGEUCOD, PCKT

- products: [] (array, required)
    - productCode: 1 (string, requried) - The unique identifier, code of product
    - count: 1 (integer, required) - Count of same products
    - productPrice: 22 (number, required) - selling price of product
    - productCurrency: USD (string, required) - product price currencyta


+ Request (application/json)

        {
            "skladonAuth":{
                "apiKey":"a4de2249-5dal-243v-8r99-623cc54b9616"
        
            },
            "order":{
                "orderId": "255",
                "addressId": 175,
                "message": "message text",
                "shipTo":{
                    "recipient": {
                        "fullName": "Miloš Halecký",
                        "attentionName": "Miloš Halecký",
                        "address": {
                            "street": "Chemická 955/3",
                            "additionalInformation": "second floor",
                            "additionalInformation2": "apt. 551"
                        },
                        "city": "Prague",
                        "countryCode": "CZ",
                        "provinceCode": "CZ",
                        "postCode": "14800",
                        "email": "milos.halecky@gmail.com",
                        "companyName": "",
                        "companyId": "",
                        "taxId": "",
                        "phone": "00420123123123"
                    },
                    "billing": {
                        "fullName": "Miloš Halecký",
                        "attentionName": "Miloš Halecký",
                        "street": "Chemická 955/3",
                        "city": "Prague",
                        "streetAdditionalInformation": "second floor",
                        "streetAdditionalInformation2": "apt. 551"
                        "countryCode": "CZ",
                        "provinceCode": "CZ",
                        "postCode": "14800",
                        "email": "milos.halecky@gmail.com",
                        "companyName": "",
                        "companyId": "",
                        "taxId": "",
                        "phone": "00420735019429"
                    }
                },
                "invoice": {
                    "invoiceNumber":"40002017",
                    "invoiceDate":"20171231",
                    "format":"pdf",
                    "encoding": "base64",
                    "data":"JVBERi0xLjUNJabpz8QgDTkzNCAwIG9iag08PC9MaW5lYXJpemVkIDEvTyA5MzcvSCBbIDgxNSAz"
                },
                "discount":{
                    "type":"PERCENTAGE",
                    "value":"30"
                },
                "paid": 0,
                "price":{
                    "invoicePrice":{
                        "value":"1100.00",
                        "currency":"CZK"
                    },
                    "shippingPrice":{
                        "value":"100.00",
                        "currency":"CZK"
                    },
                    "cashOnDelivery":{
                        "value":"1100.00",
                        "currency":"CZK",
                        "refNumber":"variabilny symbol"
                    }
                },
                "shippingMethod":"DEL",
                "shipper":{
                    "name":"UPS",
                    "serviceCode": "UPSES"
                        
                },
                "products":[
                    {
                        "productCode":"1",
                        "count":1,
                        "productPrice":"22",
                        "productCurrency":"USD"
                    }

                ]
            }
        } 
        


+ Response 200 (application/json)

        {
            "status": {
                "code": 200,
                "text": "success"
            },
            "response": {
                "message": "order successfully created",
                "orderId": "123"
                "ID": 25887,
                "trackingNumber": "DR7855984784L"
                "orderStatus": "received"
            }
        }
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 401,
                "text": "error"
            },
            "response":{
                "message": "Order already exists",
                "orderId": "123"
            }
        }

+ Response 200 (application/json)

        {
            "status": {
                "code": 402,
                "text": "error"
            },
            "response": {
                "message": "number of products is less then you need or you don't have any of them stored",
                "products": [1,2]
            }
        }
        
+ Response 400 (application/json)

        {
            "name": {
                "code": 403,
                "text": "ValidationError"
            },
            "response": {
                "details": [
                    {
                        "message": "\"fullName\" is required",
                        "path": "order.shipTo.recipient.fullName",
                        "type": "any.required",
                        "context": {
                            "key": "fullName"
                        }
                    }
                ],
                "body": {
                    "skladonAuth": "automatically hidden",
                    "order": {
                        "orderId": "255",
                        "message": "message text",
                        "shipTo": {
                            "recipient": {
                                "attentionName": "Miloš Halecký",
                                "address": {
                                    "street": "Chemická 955/3",
                                    "additionalInformation": "second floor"
                                },
                                "city": "Prague",
                                "countryCode": "CZ",
                                "provinceCode": "",
                                "postCode": "14800",
                                "email": "milos.halecky@gmail.com",
                                "companyName": "",
                                "companyId": "",
                                "taxId": "",
                                "phone": "00420123123123"
                            },
                            "billing": {
                                "fullName": "Miloš Halecký",
                                "attentionName": "Miloš Halecký",
                                "street": "Chemická 955/3",
                                "city": "Prague",
                                "countryCode": "CZ",
                                "provinceCode": "",
                                "postCode": "14800",
                                "email": "milos.halecky@gmail.com",
                                "companyName": "",
                                "companyId": "",
                                "taxId": "",
                                "phone": "00420123123123"
                            }
                        },
                        "invoice": {
                            "invoiceNumber":"40002017",
                            "invoiceDate":"20171231",
                            "format":"pdf",
                            "encoding": "base64",
                            "data":"JVBERi0xLjUNJabpz8QgDTkzNCAwIG9iag08PC9MaW5lYXJpemVkIDEvTyA5MzcvSCBbIDgxNSAz"
                        },
                        "discount": {
                            "type": "PER",
                            "value": 0
                        },
                        "paid": 0,
                        "price":{
                            "invoicePrice":{
                                "value":"840.00",
                                "currency":"CZK"
                            },
                            "shippingPrice":{
                                "value":"40.00",
                                "currency":"CZK"
                            },
                            "cashOnDelivery":{
                                "value":"840.00",
                                "currency":"USD",
                                "refNumber":"variabilny symbol"
                            }
                        },
                        "shippingMethod": "DEL",
                        "shipper": {
                            "name": "UPS",
                            "serviceCode": "UPSES"
                        },
                        "products": [
                            {
                                "productCode":"1",
                                "count":1,
                                "productPrice":"22",
                                "productCurrency":"USD"
                            }
                        ]
                    }
                }
            }
        }
        
        
## Order State Collection [/order/order-state]
### Order State [POST]
###### status code 300: on the way 
###### status code 301: delivered
###### status code 302: accepted
###### status code 303: in process
###### status code 304: not delivered
###### status code 305: lost
###### status code 306: refunded
###### status code 307: canceled

'''

'''
+ Request (application/json)

        {
            "skladonAuth": {
                "apiKey": "a4de2249-5dal-243v-8r99-623cc54b9616"
            },
            "order": {
                "orderId": 255
            }
        }

+ Response 200 (application/json)

        {
            "status": {
                "code": 300,
                "text": ""
            },
            "tracking": {
                "number": "tracking_number"
            }
        }
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 301,
                "text": ""
            },
            "tracking": {
                "number": "tracking_number"
            }
        }        
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 302,
                "text": ""
            }
        }
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 303,
                "text": ""
            }
        }
        
## Product Availability  [/product/products-availability]
### Product Availability [POST]
######  status code 200: product is available, showen count of stored product
######  status code 404: product not found

+ Request

    + Headers

            Api-Key: "a4de2249-5dal-243v-8r99-623cc54b9616"

+ Request (application/json) 

        {
            "products": [
                {
                    "SKU":"1"
                },
                {
                    "SKU":"10000001"
                }
            ]
        
        }

+ Response 200 (application/json)

        {
            "status": {
                "text": "count of products",
                "code": 200
            },
            "products": [
                {
                    "status": "OK",
                    "code": 200,
                    "productCode": "1",
                    "count": 0
                },
                {
                    "status": "Not found",
                    "code": 404,
                    "productCode": "10000001",
                    "count": null
                },
            ]
        }
        
+ Response 500 (application/json)

        {
            "statusCode":500,
            "error":"Internal Server Error",
            "message":"An internal server error occurred"
        }
        
## Products [/product]
### Get products [GET]
##### Returns list of all products 

+ Request

    + Headers

            Api-Key: "a4de2249-5dal-243v-8r99-623cc54b9616"

+ Response 200 (application/json)

        {
            "statusCode": 200,
            "message": "OK",
            "products": [
                {
                    "SKU": "ABC",
                    "NAME": "product name",
                    "DESCRIPTION": "product ABC description",
                    "PRICE": 12,
                    "UNIT_PRICE": "CZK",
                    "WIDTH": 1.00000,
                    "HEIGHT": 1.00000,
                    "LENGTH": 1.00000,
                    "WEIGHT": 1.00000,
                    "HS_CODE": null,
                    "UPC": null,
                    "EAN": "123456789",
                    "ROP": 0,
                    "STOCK_MU_CODE": "pcs",
                    "EXP_METHOD": "FEFO",
                    "MPN": null,
                    "ISBN": null,
                    "NOTE": null,
                    "ACTIVE": 1,
                    "PACKING_TYPE": "slapalabel",
                    "PRODUCT_TYPE": "finalProduct",
                },
                {
                    "SKU": "DEF",
                    "NAME": "product name",
                    "DESCRIPTION": "product DEF description",
                    "PRICE": 10,
                    "UNIT_PRICE": "CZK",
                    "WIDTH": 1.00000,
                    "HEIGHT": 1.00000,
                    "LENGTH": 1.00000,
                    "WEIGHT": 1.00000,
                    "HS_CODE": null,
                    "UPC": null,
                    "EAN": "123456789",
                    "ROP": 0,
                    "STOCK_MU_CODE": "pcs",
                    "EXP_METHOD": "FEFO",
                    "MPN": null,
                    "ISBN": null,
                    "NOTE": null,
                    "ACTIVE": 1,
                    "PACKING_TYPE": "slapalabel",
                    "PRODUCT_TYPE": "finalProduct",
                },
            ]
        
+ Response 401 (application/json)

        {
            "statusCode": 401,
            "error": "Unauthorized",
            "message": "Unauthorized"
        }        
        

+ Response 500 (application/json)

        {
            "statusCode": 500,
            "error": "Internal server error",
            "message": "Internal server error"
        }
        
        
### Update/create products [PUT]
##### Creates or updates products given in request
######  To disable product use ACTIVE: 0
- SKU: ABC (string, required) - The unique products identifier
- NAME: "product name" (string, required) - Product Name
- DESCRIPTION: "product ABC description" (string, optional) - Product description
- PRICE: 12 (string, optional) - cost of product.
- UNIT_PRICE: CZK (string, optional) - ISO code for currency USD, GBP, CZK etc.            
- WIDTH: 1.00000 (integer, optional) - Product width
- HEIGHT: 1.00000 (integer, optional) - Product height
- LENGTH: 1.00000 (integer, optional) - Product length
- WEIGHT: 1.00000 (integer, optional) - Product weight
- EAN: "123456789" (string, optional) - product EAN. If your product has ean, please use it
- ROP: 0, (integer, optional) - Products re-order point for notifiaction
- STOCK_MU_CODE: "pcs" (string, required) - "pcs" pieces. Use pcs as default
- EXP_METHOD: "FEFO" (string, required) - FIFO = First in firt out, FEFO = First expired first out. Default is FIFO. IF your product has expiration date use FEFO.
- ACTIVE: 1 (integer, required) - 1 = active product, 0 = inactive
- PACKING_TYPE: "pickandpack" (string, required) - Use 'pickandpack' as default
- PRODUCT_TYPE: "finalProduct" (string, required) -  'semiProduct' = this is part of final products for example: flyer or of final Product consists of more products, 'finalProduct' = prodcut which is ready to be shipped

+ Request

    + Headers

            Api-Key: "a4de2249-5dal-243v-8r99-623cc54b9616"


+ Request (application/json)

        {
            "products":     
                [
                    {
                        "SKU": "ABC",
                        "NAME": "product name",
                        "DESCRIPTION": "product ABC description",
                        "PRICE": 12,
                        "UNIT_PRICE": "CZK",                    
                        "WIDTH": 1.00000,
                        "HEIGHT": 1.00000,
                        "LENGTH": 1.00000,
                        "WEIGHT": 1.00000,
                        "UPC": null,
                        "EAN": "123456789",
                        "ROP": 0,
                        "STOCK_MU_CODE": "pcs",
                        "EXP_METHOD": "FEFO",
                        "MPN": null,
                        "ISBN": null,
                        "NOTE": null,
                        "ACTIVE": 1,
                        "PACKING_TYPE": "slapalabel",
                        "PRODUCT_TYPE": "finalProduct",
                    },
                    {
                        "SKU": "DEF",
                        "NAME": "product name",
                        "DESCRIPTION": "product DEF description",
                        "PRICE": 10,
                        "UNIT_PRICE": "CZK",
                        "WIDTH": 1.00000,
                        "HEIGHT": 1.00000,
                        "LENGTH": 1.00000,
                        "WEIGHT": 1.00000,
                        "HS_CODE": null,
                        "UPC": null,
                        "EAN": "123456789",
                        "ROP": 0,
                        "STOCK_MU_CODE": "pcs",
                        "EXP_METHOD": "FEFO",
                        "MPN": null,
                        "ISBN": null,
                        "NOTE": null,
                        "ACTIVE": 1,
                        "PACKING_TYPE": "slapalabel",
                        "PRODUCT_TYPE": "finalProduct",
                    },
                ]
        }
        

    
    

+ Response 200 (application/json)

        {
            "statusCode": 200,
            "message": "OK",
            "products": [
                {
                    "productCode": "ABC",
                    "action": "updated"
                },
                {
                    "productCode": "DEF",
                    "action": "created"
                }
                
            ]
        }
        
+ Response 401 (application/json)

        {
            "statusCode": 401,
            "error": "Unauthorized",
            "message": "Unauthorized"
        }        
        
+ Response 500 (application/json)

        {
            "statusCode": 500,
            "error": "Internal server error",
            "message": "Internal server error"
        }