FORMAT: 1A
HOST: https://api.skladon.cz/v1/

# skladon

Skadon API

## Address Validation Collection [/validation/address-validation]
### List All Address Validation (only for UPS - USA addresses!) [POST]
###### status code 200: valid
###### status code 400: invalid

+ Request (application/json)

        {
            "skladonAuth": {
                "apiKey": "a4de2249-5dal-243v-8r99-623cc54b9616"
            },
            "city": "Cliffside Park", 
            "stateCode":"NJ", 
            "postalCode":"07010"
        }

+ Response 200 (application/json)

        {
            "status": {
                "code": 200,
                "text": "valid"
            }
        }
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 400,
                "text": "invalid"
            }
        }   
        
        
## Create Order Collection [/order/create-order]
### Create Order [POST]
###### status code 200: order successfully created
###### status code 401: order already exists

+ Request (application/json)

        {
            "skladonAuth":{
                "apiKey":"a4de2249-5dal-243v-8r99-623cc54b9616"
        
            },
            "order":{
                "orderId": "255",
                "message": "message text",
                "shipTo":{
                    "recipient": {
                        "fullName": "Miloš Halecký",
                        "attentionName": "Miloš Halecký",
                        "address": {
                            "street": "Chemická 955/3",
                            "additionalInformation": "second floor"
                        },
                        "city": "Prague",
                        "countryCode": "CZ",
                        "provinceCode": "CZ",
                        "postCode": "14800",
                        "email": "milos.halecky@gmail.com",
                        "companyName": "",
                        "companyId": "",
                        "taxId": "",
                        "phone": "00420735019429"
                    },
                    "billing": {
                        "fullName": "Miloš Halecký",
                        "attentionName": "Miloš Halecký",
                        "street": "Chemická 955/3",
                        "city": "Prague",
                        "countryCode": "CZ",
                        "provinceCode": "CZ",
                        "postCode": "14800",
                        "email": "milos.halecky@gmail.com",
                        "companyName": "",
                        "companyId": "",
                        "taxId": "",
                        "phone": "00420735019429"
                    }
                },
                "invoice": {
                    "invoiceNumber":"40002017",
                    "invoiceDate":"20171231",
                    "format":"pdf",
                    "encoding": "base64",
                    "data":"JVBERi0xLjUNJabpz8QgDTkzNCAwIG9iag08PC9MaW5lYXJpemVkIDEvTyA5MzcvSCBbIDgxNSAz"
                },
                "discount":{
                    "type":"PER",
                    "value":"0"
                },
                "paid": 1,
                "price":{
                    "invoicePrice":{
                        "value":"94.00",
                        "currency":"USD"
                    },
                    "shippingPrice":{
                        "value":"4",
                        "currency":"USD"
                    },
                    "cashOnDelivery":{
                        "value":"4",
                        "currency":"USD",
                        "refNumber":"variabilny symbol"
                    }
                },
                "shippingMethod":"DEL",
                "shipper":{
                    "name":"UPS",
                    "serviceCode": "65"
                        
                },
                "products":[
                    {
                        "productCode":"1",
                        "count":1,
                        "productPrice":"22",
                        "productCurrency":"USD"
                    }

                ]
            }
        } 
        


+ Response 200 (application/json)

        {
            "status": {
                "code": 200,
                "text": "success"
            },
            "response": {
                "message": "order successfully created",
                "invoiceNumber": "40002017"
            }
        }
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 401,
                "text": "error"
            },
            "response":{
                "message": "Order already exists",
                "invoiceNumber": "40002017"
            }
        }

+ Response 200 (application/json)

        {
            "status": {
                "code": 402,
                "text": "error"
            },
            "response": {
                "message": "count of products is less then you need or you don't have any of them stored",
                "products": [1,2]
            }
        }
        
        
## Order State Collection [/order/order-state]
### Order State [POST]
###### status code 300: on the way 
###### status code 301: delivered
###### status code 302: accepted
###### status code 303: in process
###### status code 304: not delivered
###### status code 305: lost
###### status code 306: refunded
###### status code 307: canceled


+ Request (application/json)

        {
            "skladonAuth": {
                "apiKey": "a4de2249-5dal-243v-8r99-623cc54b9616"
            },
            "invoice": {
                    "invoiceNumber":"40002017"
            }
        }

+ Response 200 (application/json)

        {
            "status": {
                "code": 300,
                "text": ""
            },
            "tracking": {
                "number": "tracking_number"
            }
        }
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 301,
                "text": ""
            },
            "tracking": {
                "number": "tracking_number"
            }
        }        
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 302,
                "text": ""
            }
        }
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 303,
                "text": ""
            }
        }
        
## Changes in order state changing Collection [/your-url/{orderID}]
### List All in order state changing [GET]
###### status code 200: OK
###### status code 500: ERROR
###### status code 400: ORDER-NUMBER DOES NOT EXIST

+ Parameters
    + orderID (number) - Order ID
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 200,
                "text": "some-text"
            }
        }
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 500,
                "text": "some-text"
            }
        }
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 400
                "text": "some-text"
            }
        }

## Order Cancellation  [/order/order-cancellation/]
### Order Cancellation [POST]
######  status code 200: order successfully cancelled
######  status code 400: cannot cancel order, reasons: no order found, order was cancelled yet or order is on the way to client

+ Request (application/json)

        {
            "skladonAuth": {
                "apiKey": "a4de2249-5dal-243v-8r99-623cc54b9616"
            },
            "invoice": {
                    "invoiceNumber":"40002017"
            },
        }

+ Response 200 (application/json)

        {
            "status": {
                "code": 200,
                "text": "order successfully cancelled"
            },
            "invoice": {
                    "invoiceNumber":"40002017"
            }
        }
        
+ Response 200 (application/json)

        {
            "status": {
                "code": 400,
                "text": "cannot cancel order, reasons: no order found, order was cancelled yet or order is on the way to client"
            },
            "invoice": {
                    "invoiceNumber":"40002017"
            }
        }        
        
## Product Availability  [/product/products-availability]
### Product Availability [POST]
######  status code 200: product is available, showen count of stored product
######  status code 300: products not founddescripton

+ Request (application/json) 

        {
            "skladonAuth":{
                "apiKey":"a4de2249-5dal-243v-8r99-623cc54b9616"
            },
            "products": [
                {
                "productCode":"1
                }
            ]
        
        }

+ Response 200 (application/json)

        {
            "status": {
                "text": "count of products",
                "code": 200
            },
            "products": [
                {
                    "status": {
                        "text": "available",
                        "statusCode": 1
                    },
                    "productCode": "1",
                    "count": 7
                }
            ]
        }
        
+ Response 200 (application/json)

        {
            "status": {
                "text": "no products found",
                "code": 300
            },
            "products": []
        }